/* styles.css */
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: url('food/a\(loginimage\).jpg'); 
    color: white;
    font-size: 25px;
}
.container{
    background-color: rgba(0, 0, 0,0.5);
    width: 500px;
    border-radius: 10px;
    margin: 90px 380px 90px;
    padding: 40px;
    font-size: 25px;
    font-weight: bold;

} 
.container .block{
    display: block;
} 
.input input{
    width: 100%;
    font-size: 20px;
    height: 40px;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px 13px;
    box-sizing: border-box;
    margin: 15px 0px 15px;
}
input:hover{
    background-color: aquamarine;
} 
input:focus{
    background-color: aquamarine;
} 
.container h2{
    text-align: center;
    color: white;
}
.button{
    text-align: center;
}
button{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: 17px;
    padding: 7px;
    border: 1px solid white;
    border-radius: 3px;
    margin: 15px 0px 13px;    
}
a{
    font-size: 15px;
}